body {
    background-color: blue;
}

h1{
    background-color: rgb(239, 234, 243);
    color:black;
}

#show_sketch{
    float: right;
}

canvas{
    border: 5px solid black; 
    border-radius: 22px;
    animation-name: example;
    margin-top: 90px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} 

p{
    font-size: 25px;
    padding-top: 15px;


}

@keyframes example{
    from{box-shadow: 2px 3px 4px  white;}
    to{box-shadow: 2px 3px 4px yellow;}
}